@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap');
.text-title {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 8em;
    color: rgb(247, 247, 247);
    text-shadow: 2px 2px black;
}

.text-sub {
    font-family: 'Cambria', 'Times New Roman';
    font-size: 2.5em;
    color: rgb(245, 245, 245);
    text-shadow: 2px 2px black;
}

.bg-title {
    background-image: url('../img/slk.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.brabo {
    color: #009688;
}

.brabo1 {
    color: #6774e9;
}

.brabo2 {
    color: #2e86de;
}

.bg-menu {
    background-image: radial-gradient(circle, rgb(7, 49, 61), rgb(5, 10, 14));
}

.lista {
    list-style-type: none;
}

.mds {
    justify-content: center;
}

.classedaq {
    background-color: rgb(11, 40, 95);
}

.essaporra {
    align-self: center;
}