@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap');
.text-title {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 8em;
    color: #f7f1e3;
}

.text-sub {
    font-family: 'Cambria', 'Times New Roman';
    font-size: 2.5em;
    color: antiquewhite;
}

.bg-title {
    background-image: linear-gradient(to bottom left, #9980FA, #12CBC4);
}

.brabo {
    color: #009688;
}

.brabo1 {
    color: #341f97;
}

.brabo2 {
    color: #2e86de;
}

.bg-menu {
    color: #3498db;
}

.lista {
    list-style-type: none;
}

.mds {
    justify-content: center;
}

.classedaq {
    background-color: #0652DD;
}

.essaporra {
    align-self: center;
}